body {
    margin: 0;
    font-family: Raleway, sans-serif;
}
.body.is-active{
    overflow-y: hidden;
  }
.container {
    margin-left: 5%;
    margin-right: 5%;
}
.page__header {
    display: flex;
}
.page__header figure {
    margin: 0;
}
.page__header img {
    width: 108px;
    padding: 16px 6px 16px 10px;
}
.page__header nav {
    width: 100%;
    padding-right: 6px;
}
.page__header nav ul {
    margin: 0;
    display: inline-flex;
    padding-top: 1px;
    padding-left: 5px;
    padding-bottom: 2px;
    height: 100%;
    width: inherit;
    justify-content: space-between;
}
.page__header nav li {
    padding-left: 8px;
    list-style: none;
    font-size: 14px;
}
.page__header nav li a {
    padding: 20px 8px 20px;
    text-decoration: none;
    color: black;
    display: block;
    font-weight: 1000;
}
.page__header nav li a:hover {
    text-decoration: underline;
}
.page__header nav li a:focus {
    outline: 1px dashed #251211;
}
.page__header .left, .right {
    display: flex;
}
.page__section_slider img {
    margin: 0;
    width: 100%;
}
.page__section_firstService {
    background-color: #ebebeb;
    padding: 5%;
}
.firstCard-img, .firstCard-content, .secondCard-img, .secondCard-content{
    width: 50%;
}
.thirdCard-grid{
    display: grid;
    grid-template: repeat(2,1fr)/repeat(2,1fr);
}
.logo-rss figure{
    margin-left: 12px;
    margin-right: 12px;   
}
.page__footer{
    background-color: #f2f2f2;
}
.page__footer_service {
    margin-top: 48px;
    display: flex;
}
.footer-left {
    margin: 0 0 0 5%;
}
.footer-right {
    margin: 0 5% 0 0;
}  
.footer-content nav ul {
    padding: 0;
}
.footer-content nav ul li {
    list-style: none;
    padding: 8px 0;
} 
.page__footer_languaje {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
} 
.footer-lan a {
    font-size: 11px;
    text-decoration: none;
    padding: 0 0 4px 0;
    margin: 0;
    color: #616161;
}
.first-lan-content{
    padding-right: 3px;
}
.first-lan-content-ul{
    display: flex;
    margin: 0;
}
.first-lan-content-li {
    padding: 4px 24px 0 0;
    font-size: 11px;
    list-style: none;
    width: max-content;
}
.tab-mobile-menu, .tab-mobile-sesion{
    position: fixed;
    background: #f2f2f2;
    width: 100%;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    display: none;
    overflow:auto;
}
.tab-form{
    display: flex;
    padding: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tab-form input{
    margin: 5%;
}
.tab-form button{
    border: 1px solid black;
    border-radius: 15px;
    background: #eeee;
    padding: 6px;
}
.tab-mobile-menu.is-active{
    display: block;
}
.tab-mobile-sesion.is-active{
    display: block;
}
.tab{
    margin: 5%;
    border-bottom: 1px solid #b6afaf8e ;
}
.tab:last-child{
    margin-bottom: 100px;
}
.sub-tab{
    padding: 5%;
    border-top: 1px solid #b6afaf8e ;
}
.bar-mobile-menu{
    background: #616161;
    height: 50px;
    bottom: 0;
    position: sticky;
    position: -webkit-sticky;
    z-index: 4;
    display: none;
    justify-content:space-between ;
    align-items: center;
}
.bar-mobile-container{
    color: white;
    text-align: center;
    font-size: 20px;
    display:flex;
    justify-content:space-between ;
    align-items: center;
    height: 50px;
}
.bar-tab{
    margin-left:auto;
    margin-right: auto;
    color: white;
    width: 100%;
}
.bar-subtab-on{
    display: block;
    margin: 0;
}
.bar-subtab-on.is-active{
    display:none;
}
.bar-subtab-off{
    display: none;
    margin: 0;
}
.bar-subtab-off.is-active{
    display: block;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* menu mobile */
.accordion{
    font-size: 1em;
    padding: 0;
    margin: 10px 0;
    width: 100%;
    padding: 1%;
    text-align: left;
    border: 0;
    background-color: transparent;
    font-weight: 600;
}
.panel{
      display: none;
}
/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 14px;
    border: none;
} 
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ebebeb;}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ebebeb;}
/* REPETIDOS*/
.title-h2{
    text-align: center;
    font-weight: bold;
}
.title-h3{
    font-size: 20px;
    font-weight: bold;
}
.flex-col{
    display: flex;
    width: 100%;
}
.space-top{
    margin-top: 30px;
}
.content-responsive{
    width: 100%;
}
.img-second-heigth{
    height: 276px;
    object-fit: cover;
    object-position: top;
}
.img-third-heigth{
    height: 500px;
    object-fit: cover;
    object-position: top;
}
.nomargin{
    margin:0;
}
.divide{
    width: 50%;
}
.content-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-p{
    margin-left: 50px;
}
.right-p{
    margin-right: 50px;
}
.li-nav{
    display: flex;
    align-items: center;
}
.footer-content h4 {
    padding-top: 36px;
    padding-bottom: 4px;
    margin: 0;
    color: #616161;
}
.lan-link { 
    font-size: 11px;
    line-height: 16px;
}
.footer-link {
    text-decoration: none;
    color: #616161;
} 
.back-tecnology-first{
    background-color: #1c1c1c;
}
.back-tecnology-second{
    background-color: #023400 ;
}
.back-tecnology-img{
    object-fit: none;
    object-position: left;
}
.color-white{
    color: #ffff;
}
/* minilap */
@media screen and (min-width:2000px) {
    .container{
        margin-left: 25%;
        margin-right: 25%;
    }
    .page__footer_service{
        margin-left: 25%;
        margin-right: 25%;
    }
    .page__footer_languaje{
        margin-left: 25%;
        margin-right: 25%;
    }
    .footer-left{
        margin: 0;
    }
}
/* minilap */
@media screen and (max-width:1024px) {
    .container{
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
    .page__footer_service{
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
    .page__footer_languaje{
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
    .footer-left{
        margin: 0;
    }
}
/* tablet */
@media screen and (max-width:768px) {

    .page__footer{
        padding-bottom: 40px;
    }
    .page__footer_service {
        display: block;
    }
    .page__footer_service {
        display: block;
    }
    .page__footer_languaje {
        display: none;
    }
    .page__header{
        justify-content: center;
    }
    .page__header img{
        padding: 5px;
    }
    
    .first-lan-content-ul{
        padding: 0;
    }
    .thirdCard-grid{
        grid-template: repeat(2,1fr)/repeat(1,1fr);
    }
    #back1{
        display: none;
    }
    #back2{
        padding: 20px;
    }
    #nav-desktop{
        display: none;
    }
    .bar-mobile-menu{
        display: block;
    }
}
/* mobile */
@media screen and (max-width:425px) {
     .flex-col{
         display: block;
     }
     .first-lan-content-ul{
         display: block;
     }
     .footer-lan a{
         font-size: 14px;
         margin-top: 20px;
     }
     .page__section_slider{
         height: 400px;
     }
     .page__section_slider img {
        margin: 0;
        width: 100%;
        height: fit-content;
        object-fit: cover;
        object-position: 60%;
    }
    .img-third-heigth{
        object-position: 70%;
    }
    .firstCard-img, .firstCard-content, .secondCard-img, .secondCard-content{
        width: 100%;
    }
    .left-p, .right-p{
        margin-left: 0;
        margin-right: 0;
    }
    .logo-rss{
        display: flex;
    }
    .invert-direction{
        display: flex;
        flex-direction: column-reverse;
    }
}